{
  "overrides": [
    {
      "files": ["src/components/Hyperspeed/Hyperspeed.tsx"],
      "rules": {
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/no-explicit-any": "off"
      }
    }
  ]
}